<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    
    <body>
        <p class="preserve">{{ result[0] }}</p>
        <p class="preserve">{{ result[1] }}</p>

        <form method="get" action="{{ url_for('home') }}">
            <button type="submit">Regenerate</button>
        </form>

        <p class="preserve">Share: <a href="{{ result[2] }}">{{ result[2] }}</a></p>
    </body>
</html>
